erlang_ls/*
!erlang_ls/_build
erlang_ls/_build/*
!erlang_ls/_build/default
!erlang_ls/_build/dap
erlang_ls/_build/default/*
erlang_ls/_build/dap/*
!erlang_ls/_build/default/bin
!erlang_ls/_build/dap/bin
!erlang_ls/images
erlang_ls/images/*
!erlang_ls/images/erlang-ls-logo-small.png

.vscode/*
**/*.ts
!**/*.d.ts
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
contributing.md
client/*
!client/package-lock.json
!client/node_modules
client/node_modules/*
!client/node_modules/vscode-jsonrpc
!client/node_modules/vscode-languageclient
!client/node_modules/vscode-languageserver-protocol
!client/node_modules/vscode-languageserver-types
!client/node_modules/semver
!client/out
client/out/*
!client/out/client.js
!client/out/debugger.js
!client/out/extension.js
